<div class="container mt-5">
    <h1>Product Categories</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img th:src="@{/images/index/3c.png}" src="../../static/images/index/3c.png"></img>
                    <h5 class="card-title">3C</h5>
                    <p class="card-text">Electronics, Computers, Cameras, etc.</p>
                    <a href="/products/3C" class="btn btn-primary">View Products</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <img th:src="@{/images/index/life.png}" src="../../static/images/index/life.png"></img>
                    <h5 class="card-title">生活品</h5>
                    <p class="card-text">Home, Lifestyle, Kitchen, etc.</p>
                    <a href="/products/lifestyle" class="btn btn-primary">View Products</a>
                </div>
            </div>
        </div>
        <!-- 更多產品目錄卡片 -->
        <!-- ... (新增更多產品目錄卡片) -->
    </div>
</div>