<div class="container mt-5" id="productCategory">
    <h1>Product Categories</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4" v-if="products" >
        <div class="col" v-for="product in products">
            <div class="card h-100" >
                <div class="card-body">
                    <img :src="'/images/productCategory/'+product.title+'.png'">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <a :href="'/productList?productId='+product.pid" class="btn btn-primary">View Products</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const productCategory = new Vue({
        el: "#productCategory",
        data() {
            return {
                products: null,
            }
        },
        created() {
            this.getProductCategory();
        },
        methods: {
            getProductCategory() {
                $.get("/rest/productCategory")
                    .done(result => {
                        this.products = result.resultData;
                    })
                    .fail(err => {

                    })
                    .always(() => {
                        console.log("always");
                    });
            }
        }
    });
</script>