<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Spring Boot App</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"
            src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"
            src="../static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header th:replace="header/header :: header"></header>

    <div class="content">
        <main th:replace="content/${page}"></main>
    </div>

    <footer th:replace="footer/footer :: footer"></footer>
</body>
</html>