HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/workspace.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_20.xml
.idea/libraries/Maven__org_springframework_spring_web_5_3_20.xml
.idea/libraries/Maven__org_springframework_spring_test_5_3_20.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_3_20.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_3_20.xml
.idea/libraries/Maven__org_springframework_spring_core_5_3_20.xml
.idea/libraries/Maven__org_springframework_spring_context_5_3_20.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_3_20.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_3_20.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_7_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_7_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_7_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_7_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_thymeleaf_2_7_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_7_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_7_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_7_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_7_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_2_7_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_7_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_7_0.xml
.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_63.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_63.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_63.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_12_10.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_10.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_13_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_13_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_13_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_13_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_13_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_13_3.xml
